/* 섹션1 : 비쥬얼 섹션 ------------------------------------ */
.sc-visual .content {
    position: relative;
}
.sc-visual .content .bg-swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sc-visual .bg-swiper .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
.sc-visual .bg-swiper .swiper-slide {
    width: 100%;
    height: 100%;
}

.sc-visual .bg-swiper .swiper-slide.loan {
    background: #BFD9F7;
}
.sc-visual .bg-swiper .swiper-slide.partner {
    background: #E6F1F4;
    
}
.sc-visual .bg-swiper .swiper-slide.data {
    background: #EDF3FD;
}
.sc-visual .bg-swiper .swiper-slide.banking {
    background: #EDF3FD;
}
.sc-visual .content .vis-swiper {
    overflow: hidden;
}
.sc-visual .vis-swiper .swiper-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.sc-visual .bg-swiper .swiper-slide span {
    font-size: 20px;
    margin-right: auto;
}

.sc-visual .control {
    display: flex;
    justify-content: space-between;
    gap: 43px;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 63px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: fit-content;
}

.sc-visual .pagination {
    display: flex;
    gap: 13px;
}
.sc-visual .pagination.swiper-pagination-horizontal {
    width: fit-content;
}
.sc-visual .pagination span.swiper-pagination-bullet {
    margin: 0;
    background: #000;
    opacity: 0.6;
}

.sc-visual .pagination span.swiper-pagination-bullet-active {
    opacity: 1;
}

.sc-visual .btn-box .btn {
    height: 20px;
    width: 14px;
}
.sc-visual .btn-box .btn.prev {
    background: url(../images/vis_prev.png) no-repeat center bottom;
    background-size: 10px;
    margin-right: 10px;
    opacity: 0.4;
}
.sc-visual .btn-box .btn.next {
    background: url(../images/vis_next.png) no-repeat center bottom;
    background-size: 10px;
    opacity: 0.4;
}
.sc-visual .btn-box .btn.auto-play {
    width: 11px;
    height: 14px;
    background: url(../images/vis_pause.png) no-repeat center center;
    margin-right: 20px;
}

.sc-visual .btn-box .btn.auto-play.on {
    background: url(../images/vis_play.png) no-repeat center center;

}


/* 섹션2 : 금융 정보 섹션 ------------------------------------ */
.sc-finan-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    
}

.sc-finan-info .quick-area {
    position: absolute;
    z-index: 2;
}
.sc-finan-info .quick-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 772px;
    height: 76px;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0px 2px 10px #808080;;
}

.sc-finan-info .quick-item {
    display: flex;
    flex: 1;
    height: 76px;
    background: #3a8dfd;
    color: #fff;
}
.sc-finan-info .quick-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}
.sc-finan-info .quick-item.another a {
    width: 170px;
    font-size: 20px;
    background: #0082cd;
}
.sc-finan-info .quick-item.quick a {
    position: relative;
    justify-content: flex-end;
    width: 170px;
    background: #fff;
    color: #000;
    padding-right: 55px;
}
.sc-finan-info .quick-item.quick::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url(../images/qk_next.png) no-repeat;
    width: 12px;
    height: 22px;
}

.sc-finan-info .protect-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    width: 100%;
}
.sc-finan-info .prot-list {
    display: flex;
    gap: 30px;
}
.sc-finan-info .prot-item {
    color: #7f7e7e;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/* 섹션3~4 : 금융 상품, 카드 섹션 ------------------------------------ */
.finan-flex {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 66px;
}

.sc-finan-inst.card {
    position: relative;
}
.sc-finan-inst.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -26px;
    width: 2px;
    height: 88px;
    background: #e9f2ff;
}

.sc-finan-inst .headline {
    margin-top: 40px;
    margin-bottom: 32px;
}

.sc-finan-inst .inst-list {
    display: flex;
}
.sc-finan-inst .inst-item {
    width: 85px;
    height: 85px;
}
.sc-finan-inst .inst-item a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;    
}
.sc-finan-inst .inst-item a:hover {
    border-radius: 50%;
    background: #3A8DFD;
}
.sc-finan-inst .inst-item a:hover span {
    color: #fff;
}

.sc-finan-inst .inst-item span {
    display: block;
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: 500;
}
.sc-finan-inst .inst-item span.bold {
    font-weight: bold;
}

.sc-finan-inst .inst-item .ic-deposit::before {
    position: absolute;
    top: 8px;
    left: 50%;
    padding-top: 8px;
    transform: translateX(-50%);
    content: '';
    width: 54px;
    height: 44px;
    background: url(../images/fin_sprites.png) -164px -10px;
}
.sc-finan-inst .inst-item .ic-deposit:hover::before {
    background-position: -10px -77px;
}
.sc-finan-inst .inst-item .ic-loans::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 39px;
    height: 45px;
    background: url(../images/fin_sprites.png) -304px -10px;
}
.sc-finan-inst .inst-item .ic-loans:hover::before {
    background-position: -10px -205px;
}
.sc-finan-inst .inst-item .ic-funding::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 55px;
    height: 39px;
    background: url(../images/fin_sprites.png) -2px -270px;
}
.sc-finan-inst .inst-item .ic-funding:hover::before {
    background-position: -65px -206px;
}
.sc-finan-inst .inst-item .ic-exchange::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 57px;
    height: 44px;
    background: url(../images/fin_sprites.png) -88px -10px;
}
.sc-finan-inst .inst-item .ic-exchange:hover::before {
    background-position: -10px -10px;
}
.sc-finan-inst .inst-item .ic-trust::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 44px;
    height: 39px;
    background: url(../images/fin_sprites.png) -134px -205px;
}
.sc-finan-inst .inst-item .ic-trust:hover::before {
    background-position: -85px -142px;
}
.sc-finan-inst .inst-item .ic-pension::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 36px;
    height: 44px;
    background: url(../images/fin_sprites.png) -304px -75px;
}
.sc-finan-inst .inst-item .ic-pension:hover::before {
    background-position: -304px -139px;
}
.sc-finan-inst .inst-item .ic-insurance::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 45px;
    height: 48px;
    background: url(../images/fin_sprites.png) -238px -79px;
}
.sc-finan-inst .inst-item .ic-insurance:hover::before {
    background-position: -238px -10px;
}
.sc-finan-inst .inst-item .ic-isa::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 44px;
    height: 40px;
    background: url(../images/fin_sprites.png) -150px -142px;
}
.sc-finan-inst .inst-item .ic-isa:hover::before {
    background-position: -164px -74px;
}
.sc-finan-inst .inst-item .ic-request::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 46px;
    height: 37px;
    background: url(../images/fin_sprites.png) -238px -147px;
}
.sc-finan-inst .inst-item .ic-request:hover::before {
    background-position: -198px -205px;
}
.sc-finan-inst .inst-item .ic-card::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 55px;
    height: 43px;
    background: url(../images/fin_sprites.png) -10px -142px;
}
.sc-finan-inst .inst-item .ic-card:hover::before {
    background-position: -85px -77px;
}
.sc-finan-inst .inst-item .ic-event::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 39px;
    height: 37px;
    background: url(../images/fin_sprites.png) -71px -270px;
}
.sc-finan-inst .inst-item .ic-event:hover::before {
    background-position: -304px -204px;
}

/* 섹션5 : 서비스 섹션 ------------------------------------ */
.sc-service .headline {
    margin-bottom: 20px;
}

.sc-service .serv-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.sc-service .serv-item {
    border: 1px solid #d8d8d8;
    height: 298px;
}
.sc-service .serv-item a {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-service .serv-item .title {
    font-size: 19px;
    font-weight: bold;
    color: #555
}
.sc-service .serv-item .desc {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #666
}

/* 섹션6~7 : 뉴스, 이벤트 섹션 ------------------------------------ */
.board-bg {
    display: flex;
    justify-content: center;
    background: #f4f7fa;
    margin: 30px 0 90px;
    height: 180px;
}

.board-flex {
    display: flex;
    gap: 45px;
}

.sc-board {
    position: relative;
    display: flex;
    gap: 34px;
    margin: 44px 0 63px;
}

.sc-board .headline {
    font-size: 18px;
    line-height: 1;
}

.sc-board .board-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    line-height: 1;
}

.sc-board .board-item a {
    display: flex;
    gap: 73px;
}

.sc-board .board-item .desc {
    font-size: 14px;
    font-weight: 500;
    flex: 1;
}
.sc-board .board-item .desc:hover {
    color: #0283CB;
    text-decoration-line: underline;
}
.sc-board .board-item .date {
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

.sc-board .more-link {
    position: absolute;
    top: 31px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.sc-board .more-link::after {
    display: block;
    position: absolute;
    content: '';
    background: url(../images/bd-arrow.png) no-repeat;
    top: 1px;
    background-position: 40px center;
    height: 16px;
    background-size: 6px;
    width: 60px;
}


